.projectWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: var(--bg-color);
}
  
  #projectTitle {
    color: var(--secondary-color);
  }
  
  .upperWrap {
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    padding: 20px 0px;
  }
  .bottomWrap {
    display: flex;
    justify-content:center;
    width: 100%;
    padding: 20px; 
    box-sizing: border-box;
    text-align: center;
  }
  .techIcons{
    font-size: 20px;
    margin: 2px 8px;
  }
  .iconsWrapper{
    text-align: center;
  }
.mui-card{
  margin: 20px;
  width: 200px;
}